#leftpanel div:hover {
  background-color: #c0000e;
  padding: 3px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#leftpanel p {
  background-color: #97000b;
  margin: 0;
  padding: 10px 0;
  color: #ffff99;
  font-size: 1em;
  text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.6);
}

#rightpanel {
  width: 700px;
  float: left;
}

#etchmachine {
  margin-top: 30px;
  margin-left: 50px;
  width: 600px;
  height: auto;
  padding-bottom: 30px;
  background-color: #f80012;
  border-radius: 1em;
}

#etchmachine p {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0;
  margin-bottom: 5px;
  padding: 0.5em 0;
  color: #ffff99;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

#grid {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: #e8e8e8;
  border: 5px red solid;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}
div {
  margin-top: 0px;
  margin-bottom: 0px;
}
